{% extends 'BackOffice/base.html.twig' %}

{% block title %}Nouvelle commande - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Créer une commande</h1>
    
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-group mb-3">
            {{ form_label(form.produit, 'Produit', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.produit, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.produit) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.typeCommande, 'Type de commande', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.typeCommande, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.typeCommande) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.quantite, 'Quantité', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.quantite) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.prixUnitaire, 'Prix unitaire', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.prixUnitaire, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.prixUnitaire) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.total, 'Total', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.total, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.total) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.dateCommande, 'Date de commande', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.dateCommande, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.dateCommande) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    {{ form_label(form.statutCommande, 'Statut', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.statutCommande, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.statutCommande) }}
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-success">Créer la commande</button>
        </div>
    {{ form_end(form) }}
    
    <a href="{{ path('app_commande_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
</div>
{% endblock %}
