{% extends 'base.html.twig' %}

{% block title %}Horaire - Admin{% endblock %}

{% block body %}
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Horaire</h1>
    <table class="table">
        <tbody>
            <tr><th>Id</th><td>{{ activity_schedule.id }}</td></tr>
            <tr><th>Activité</th><td>{{ activity_schedule.activity ? activity_schedule.activity.title : '–' }}</td></tr>
            <tr><th>Début</th><td>{{ activity_schedule.startAt ? activity_schedule.startAt|date('d/m/Y H:i') : '' }}</td></tr>
            <tr><th>Fin</th><td>{{ activity_schedule.endAt ? activity_schedule.endAt|date('d/m/Y H:i') : '' }}</td></tr>
            <tr><th>Places disponibles</th><td>{{ activity_schedule.availableSpots }}</td></tr>
        </tbody>
    </table>
    <a href="{{ path('app_activity_schedule_edit', {'id': activity_schedule.id}) }}" class="btn btn-primary">Modifier</a>
    <a href="{{ path('app_activity_schedule_index') }}" class="btn btn-secondary">Retour à la liste</a>
    {{ include('ActivityTemplate/activity_schedule/_delete_form.html.twig') }}
</div>
{% endblock %}
