{% extends 'base.html.twig' %}

{% block title %}CategorieHebergement index{% endblock %}

{% block body %}
    <h1>CategorieHebergement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_hebergement in categorie_hebergements %}
            <tr>
                <td>{{ categorie_hebergement.id }}</td>
                <td>{{ categorie_hebergement.nom }}</td>
                <td>{{ categorie_hebergement.description }}</td>
                <td>
                    <a href="{{ path('app_categorie_hebergement_show', {'id': categorie_hebergement.id}) }}">show</a>
                    <a href="{{ path('app_categorie_hebergement_edit', {'id': categorie_hebergement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_hebergement_new') }}">Create new</a>
{% endblock %}
