{% extends 'base.html.twig' %}

{% block title %}CategorieHebergement{% endblock %}

{% block body %}
    <h1>CategorieHebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_hebergement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie_hebergement.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie_hebergement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_hebergement_index') }}">back to list</a>

    <a href="{{ path('app_categorie_hebergement_edit', {'id': categorie_hebergement.id}) }}">edit</a>

    {{ include('categorie_hebergement/_delete_form.html.twig') }}
{% endblock %}
