{% extends 'base.html.twig' %}

{% block title %}Modifier un hébergement - Admin{% endblock %}

{% block body %}
<<<<<<< HEAD
    <h1>Edit Hebergement</h1>

    {{ include('HebergementTemplate/hebergement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hebergement_index') }}">back to list</a>

    {{ include('HebergementTemplate/hebergement/_delete_form.html.twig') }}
=======
<div class="container py-4">
    {{ include('admin_nav.html.twig') }}
    <h1>Modifier un hébergement</h1>
    {{ include('HebergementTemplate/hebergement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <a href="{{ path('app_hebergement_index') }}" class="btn btn-secondary mt-2">Retour à la liste</a>
    <div class="mt-3">
        {{ include('HebergementTemplate/hebergement/_delete_form.html.twig') }}
    </div>
</div>
>>>>>>> d1fec4b (temp)
{% endblock %}
