{% extends 'base.html.twig' %}

{% block title %}Hebergement index{% endblock %}

{% block body %}
    <h1>Hebergement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>NbEtoiles</th>
                <th>ImagePrincipale</th>
                <th>LabelEco</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hebergement in hebergements %}
            <tr>
                <td>{{ hebergement.id }}</td>
                <td>{{ hebergement.nom }}</td>
                <td>{{ hebergement.description }}</td>
                <td>{{ hebergement.adresse }}</td>
                <td>{{ hebergement.ville }}</td>
                <td>{{ hebergement.nbEtoiles }}</td>
                <td>{{ hebergement.imagePrincipale }}</td>
                <td>{{ hebergement.labelEco }}</td>
                <td>{{ hebergement.latitude }}</td>
                <td>{{ hebergement.longitude }}</td>
                <td>{{ hebergement.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_hebergement_show', {'id': hebergement.id}) }}">show</a>
                    <a href="{{ path('app_hebergement_edit', {'id': hebergement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_new') }}">Create new</a>
{% endblock %}
