{% extends 'base.html.twig' %}

{% block title %}Hebergement{% endblock %}

{% block body %}
    <h1>Hebergement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hebergement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ hebergement.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ hebergement.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ hebergement.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ hebergement.ville }}</td>
            </tr>
            <tr>
                <th>NbEtoiles</th>
                <td>{{ hebergement.nbEtoiles }}</td>
            </tr>
            <tr>
                <th>ImagePrincipale</th>
                <td>{{ hebergement.imagePrincipale }}</td>
            </tr>
            <tr>
                <th>LabelEco</th>
                <td>{{ hebergement.labelEco }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ hebergement.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ hebergement.longitude }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ hebergement.actif ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hebergement_index') }}">back to list</a>

    <a href="{{ path('app_hebergement_edit', {'id': hebergement.id}) }}">edit</a>

    {{ include('HebergementTemplate/hebergement/_delete_form.html.twig') }}
{% endblock %}
