<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">À Propos EcoTrip</h6>
                    <p>EcoTrip est votre compagnon de voyage pour découvrir la Tunisie de manière responsable et durable. Nous proposons des expériences écologiques authentiques qui respectent l'environnement et valorisent le patrimoine local.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Navigation</h6>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list_style">
                                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                <li><a href="{{ path('app_hebergement') }}">Hébergement</a></li>
                                <li><a href="{{ path('app_activites') }}">Activités</a></li>
                                <li><a href="{{ path('app_transport') }}">Transport</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list_style">
                                <li><a href="{{ path('app_boutique') }}">Boutique</a></li>
<<<<<<< HEAD
                                {% if app.user %}
                                    <li><a href="{{ path('app_my_account') }}">Mon compte</a></li>
                                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                                {% else %}
                                    <li><a href="{{ path('app_login') }}">Se connecter/S'inscrire</a></li>
=======
                                <li><a href="{{ path('app_about') }}">À Propos</a></li>
                                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                                {% if app.user %}
                                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                                {% else %}
                                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
>>>>>>> f5ab5f2b8143340c9833c9379b76af33954bf087
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Newsletter Écologique</h6>
                    <p>Recevez nos meilleures offres d'activités écologiques, conseils de voyage responsable et actualités du tourisme durable en Tunisie.</p>
                    <div id="mc_embed_signup">
                        <form method="post" class="subscribe_form relative">
                            <div class="input-group d-flex flex-row">
                                <input name="email" placeholder="Votre adresse email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre adresse email'" required="" type="email">
                                <button class="btn sub-btn" type="submit"><span class="lnr lnr-envelope"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                    <small class="text-muted">Désinscription possible à tout moment</small>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="footer_title">Suivez-nous</h6>
                    <p>Rejoignez notre communauté pour découvrir les plus beaux paysages de Tunisie</p>
                    <div class="footer-social mb-3">
                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="YouTube"><i class="fa fa-youtube"></i></a>
                    </div>
                    <h6 class="footer_title mt-3">Contact</h6>
                    <ul class="list_style">
                        <li><i class="fa fa-phone"></i> +216 99950854</li>
                        <li><i class="fa fa-envelope"></i> contact@ecotrip.tn</li>
                        <li><i class="fa fa-map-marker"></i> Tunis, Tunisie</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="border_line"></div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits réservés | 
                <strong style="color: #4a7c2e;">EcoTrip Tunisie</strong> - Tourisme Responsable et Durable
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
